<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Service department</title>
</head>
<body>
    <h1>Add Service department</h1>
    <form method="post">
        <label for="address_of_service_department">Address of service department:</label>
        <input type="text" id="address_of_service_department" name="address_of_service_department">
        <br>
        <label for="quantity_stuff_in_service_department">Quantity stuff in service department:</label>
        <input type="text" id="quantity_stuff_in_service_department" name="quantity_stuff_in_service_department">
        <br>
        <label for="number_phone_of_service_department">Number phone:</label>
        <input type="text" id="number_phone_of_service_department" name="number_phone_of_service_department">
        <br>
        <label for="post_code_of_service_department">Post code:</label>
        <input type="text" id="post_code_of_service_department" name="post_code_of_service_department">
        <br>
        <input type="submit" value="Add">
    </form>
    <br>
    <a href="/view_service_department">Back to Service department List</a>
</body>
</html>