<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Dealer</title>
</head>
<body>
    <h1>Add Dealer</h1>
    <form method="post">
        <label for="name_of_dealer">Name of Dealer:</label>
        <input type="text" id="name_of_dealer" name="name_of_dealer">
        <br>
        <label for="address_of_dealer">Address of dealer:</label>
        <input type="text" id="address_of_dealer" name="address_of_dealer">
        <br>
        <label for="type_of_services_from_dealer">Type of services from dealer:</label>
        <input type="text" id="type_of_services_from_dealer" name="type_of_services_from_dealer">
        <br>
        <label for="payment_to_the_dealer">Payment to the dealer:</label>
        <input type="text" id="payment_to_the_dealer" name="payment_to_the_dealer">
        <br>
        <label for="date_of_contract_with_dealer">Date of contract with dealer:</label>
        <input type="date" id="date_of_contract_with_dealer" name="date_of_contract_with_dealer">
        <br>
        <label for="number_of_dealer">Number of dealer:</label>
        <input type="text" id="number_of_dealer" name="number_of_dealer">
        <br>
        <input type="submit" value="Add">
    </form>
    <br>
    <a href="/view_dealer">Back to Dealer List</a>
</body>
</html>