<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
</head>
<body>
    <h1>Add User</h1>
    <form method="post">
        <label for="login">Login:</label>
        <input type="text" id="login" name="login">
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
        <br>
        <label for="authentication">Authentication:</label>
        <input type="text" id="authentication" name="authentication">
        <br>
        <input type="submit" value="Add">
    </form>
    <br>
    <a href="/view_user">Back to User List</a>
</body>
</html>