<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Technique</title>
</head>
<body>
    <h1>Add Technique</h1>
    <form method="post">
        <label for="name_of_technique">Name of technique:</label>
        <input type="text" id="name_of_technique" name="name_of_technique">
        <br>
        <label for="type_of_technique">Type of technique:</label>
        <input type="text" id="type_of_technique" name="type_of_technique">
        <br>
        <label for="serial_number">Serial number:</label>
        <input type="text" id="serial_number" name="serial_number">
        <br>
        <label for="factory_number">Factory number:</label>
        <input type="text" id="factory_number" name="factory_number">
        <br>
        <label for="quantity_of_technique">Quantity of technique:</label>
        <input type="text" id="quantity_of_technique" name="quantity_of_technique">
        <br>
        <label for="Users_login_responsible_for_the_technique">Responsible user:</label>
        <input type="text" id="Users_login_responsible_for_the_technique" name="Users_login_responsible_for_the_technique">
        <br>
        <input type="submit" value="Add">
    </form>
    <br>
    <a href="/view_technique">Back to Technique List</a>
</body>
</html>