<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Report for TAX</title>
</head>
<body>
    <h1>Add Report for TAX</h1>
    <form method="post">
        <label for="date_of_formation_report">Date of formation report:</label>
        <input type="date" id="date_of_formation_report" name="date_of_formation_report">
        <br>
        <label for="date_of_sendig_report">Date of sending report:</label>
        <input type="date" id="date_of_sendig_report" name="date_of_sendig_report">
        <br>
        <label for="signature">Signature:</label>
        <input type="text" id="signature" name="signature">
        <br>
        <label for="to_tax">To:</label>
        <input type="text" id="to_tax" name="to_tax">
        <br>
        <label for="from_company">From company:</label>
        <input type="text" id="from_company" name="from_company">
        <br>
        <label for="content_of_report">Content of report:</label>
        <input type="text" id="content_of_report" name="content_of_report">
        <br>
        <label for="type_of_delivery_report">Type of delivery report:</label>
        <input type="text" id="type_of_delivery_report" name="type_of_delivery_report">
        <br>
        <label for="Users_login_responsible_for_the_report">Responsible user:</label>
        <input type="text" id="Users_login_responsible_for_the_report" name="Users_login_responsible_for_the_report">
        <br>
        <input type="submit" value="Add">
    </form>
    <br>
    <a href="/view_report_for_tax">Back to Report for TAX List</a>
</body>
</html>