<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Departure</title>
</head>
<body>
    <h1>Add Departure</h1>
    <form method="post">
        <label for="type_of_service">Type of service:</label>
        <input type="text" id="type_of_service" name="type_of_service">
        <br>
        <label for="price_of_service">Price of service:</label>
        <input type="text" id="price_of_service" name="price_of_service">
        <br>
        <label for="result">Result:</label>
        <input type="text" id="result" name="result">
        <br>
        <label for="status_of_departure">Status of departure:</label>
        <input type="text" id="status_of_departure" name="status_of_departure">
        <br>
        <label for="To_Client_address_of_client">To client:</label>
        <input type="text" id="To_Client_address_of_client" name="To_Client_address_of_client">
        <br>
        <label for="responsible">Responsible:</label>
        <input type="text" id="responsible" name="responsible">
        <br>
        <input type="submit" value="Add">
    </form>
    <br>
    <a href="/view_departure">Back to Departure List</a>
</body>
</html>