<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Purchase</title>
</head>
<body>
    <h1>Add Purchase</h1>
    <form method="post">
        <label for="name_of_product">Name of product:</label>
        <input type="text" id="name_of_product" name="name_of_product">
        <br>
        <label for="quantity_of_product">Quantity of product:</label>
        <input type="text" id="quantity_of_product" name="quantity_of_product">
        <br>
        <label for="description_of_product">Description of product:</label>
        <input type="text" id="description_of_product" name="description_of_product">
        <br>
        <label for="factory_number">Factory number:</label>
        <input type="text" id="factory_number" name="factory_number">
        <br>
        <label for="serial_number">Serial number:</label>
        <input type="text" id="serial_number" name="serial_number">
        <br>
        <label for="purchase_amount">Purchase amount:</label>
        <input type="text" id="purchase_amount" name="purchase_amount">
        <br>
        <input type="submit" value="Add">
    </form>
    <br>
    <a href="/view_purchase">Back to Purchase List</a>
</body>
</html>