<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Installation and deployment</title>
</head>
<body>
    <h1>Add Installation and deployment</h1>
    <form method="post">
        <label for="date_of_installation">Date of installation:</label>
        <input type="date" id="date_of_installation" name="date_of_installation">
        <br>
        <label for="type_of_installation">Type of installation:</label>
        <input type="text" id="type_of_installation" name="type_of_installation">
        <br>
        <label for="status_of_installation">Status of installation:</label>
        <input type="text" id="status_of_installation" name="status_of_installation">
        <br>
        <label for="duration_time">Duration time:</label>
        <input type="text" id="duration_time" name="duration_time">
        <br>
        <label for="result">Result:</label>
        <input type="text" id="result" name="result">
        <br>
        <label for="Users_login_responsible_of_installation">Responsible user:</label>
        <input type="text" id="Users_login_responsible_of_installation" name="Users_login_responsible_of_installation">
        <br>
        <input type="submit" value="Add">
    </form>
    <br>
    <a href="/view_installation_and_deployment">Back to Installation and deployment List</a>
</body>
</html>