<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Accessory</title>
</head>
<body>
    <h1>Add Accessory</h1>
    <form method="post">
        <label for="name_of_accessory">Name of accessory:</label>
        <input type="text" id="name_of_accessory" name="name_of_accessory">
        <br>
        <label for="quantity_of_accessory">Quantity of accessory:</label>
        <input type="text" id="quantity_of_accessory" name="quantity_of_accessory">
        <br>
        <label for="type_of_accessory">Type of accessory:</label>
        <input type="text" id="type_of_accessory" name="type_of_accessory">
        <br>
        <input type="submit" value="Add">
    </form>
    <br>
    <a href="/view_accessory">Back to Accessory List</a>
</body>
</html>