<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Order in the hall</title>
</head>
<body>
    <h1>Add Order in the hall</h1>
    <form method="post">
        <label for="date_of_order">Date of order:</label>
        <input type="date" id="date_of_order" name="date_of_order">
        <br>
        <label for="price_for_technique">Price for technique:</label>
        <input type="text" id="price_for_technique" name="price_for_technique">
        <br>
        <label for="quantity_of_technique">Quantity of technique:</label>
        <input type="text" id="quantity_of_technique" name="quantity_of_technique">
        <br>
        <label for="Client_name_of_client">Client name:</label>
        <input type="text" id="Client_name_of_client" name="Client_name_of_client">
        <br>
        <label for="Technique_type_of_technique">Technique type:</label>
        <input type="text" id="Technique_type_of_technique" name="Technique_type_of_technique">
        <br>
        <label for="Users_loginresponsible_for_order">Responsible user:</label>
        <input type="text" id="Users_loginresponsible_for_order" name="Users_loginresponsible_for_order">
        <br>
        <input type="submit" value="Add">
    </form>
    <br>
    <a href="/view_order_in_the_hall">Back to Order in the hall List</a>
</body>
</html>