<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add backup</title>
</head>
<body>
    <h1>Add Backup</h1>
    <form method="post">
        <label for="date_of_backup">Date of backup:</label>
        <input type="date" id="date_of_backup" name="date_of_backup">
        <br>
        <label for="content_of_backup">Content of backup:</label>
        <input type="text" id="content_of_backup" name="content_of_backup">
        <br>
        <label for="size_of_backup">Size of backup:</label>
        <input type="text" id="size_of_backup" name="size_of_backup">
        <br>
        <label for="users_login_responsible_of_backup">Responsible user:</label>
        <input type="text" id="users_login_responsible_of_backup" name="users_login_responsible_of_backup">
        <br>
        <input type="submit" value="Add">
    </form>
    <br>
    <a href="/view_backup">Back to Backup List</a>
</body>
</html>