<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Stock</title>
</head>
<body>
    <h1>Add Stock</h1>
    <form method="post">
        <label for="address_of_stock">Address of stock:</label>
        <input type="text" id="address_of_stock" name="address_of_stock">
        <br>
        <label for="quantity_of_stuff">Quantity of stuff:</label>
        <input type="text" id="quantity_of_stuff" name="quantity_of_stuff">
        <br>
        <label for="type_of_stock">Type of stock:</label>
        <input type="text" id="type_of_stock    " name="type_of_stock">
        <br>
        <label for="number_phone_of_stock">Number phone:</label>
        <input type="text" id="number_phone_of_stock" name="number_phone_of_stock">
        <br>
        <label for="Users_login_responsible_of_stock">Responsible user for stock:</label>
        <input type="text" id="Users_login_responsible_of_stock" name="Users_login_responsible_of_stock">
        <br>
        <input type="submit" value="Add">
    </form>
    <br>
    <a href="/view_stock">Back to Stock List</a>
</body>
</html>