<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit client</title>
</head>
<body>
    <h1>Edit client</h1>
    <form method="post">
        <input type="hidden" id="name_of_client" name="name_of_client" value="{{ client[0] }}">
        <br>
        <label for="surname_of_client">Surname of client:</label>
        <input type="text" id="surname_of_client" name="surname_of_client" value="{{ client[1] }}">
        <br>
        <label for="address_of_client">Address of client:</label>
        <input type="text" id="address_of_client" name="address_of_client" value="{{ client[2] }}">
        <br>
        <label for="number_phone_of_client">Number phone of client:</label>
        <input type="text" id="number_phone_of_client" name="number_phone_of_client" value="{{ client[3] }}">
        <br>
        <label for="type_of_appeals">Type of appeals:</label>
        <input type="text" id="type_of_appeals" name="type_of_appeals" value="{{ client[4] }}">
        <br>
        <input type="submit" value="Update">
    </form>
    <br>
    <a href="/view_client">Back to client List</a>
</body>
</html>