<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Delivery</title>
</head>
<body>
    <h1>Edit Delivery</h1>
    <form method="post">
        <input type="hidden" id="name_of_courier" name="name_of_courier" value="{{ delivery[0] }}">
        <br>
        <label for="surname_of_courier">Surname of courier:</label>
        <input type="text" id="surname_of_courier" name="surname_of_courier" value="{{ delivery[1] }}">
        <br>
        <label for="name_of_product">Name of product:</label>
        <input type="text" id="name_of_product" name="name_of_product" value="{{ delivery[2] }}">
        <br>
        <label for="price_with_delivery">Price with delivery:</label>
        <input type="text" id="price_with_delivery" name="price_with_delivery" value="{{ delivery[3] }}">
        <br>
        <label for="from_Stock_address_of_stock">From stock:</label>
        <input type="text" id="from_Stock_address_of_stock" name="from_Stock_address_of_stock" value="{{ delivery[4] }}">
        <br>
        <label for="to_Client_address_of_client">To client:</label>
        <input type="text" id="to_Client_address_of_client" name="to_Client_address_of_client" value="{{ delivery[5] }}">
        <br>
        <input type="submit" value="Update">
    </form>
    <br>
    <a href="/view_delivery">Back to Delivery List</a>
</body>
</html>