<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Backup</title>
</head>
<body>
    <h1>Edit Backup</h1>
    <form method="post">
        <input type="hidden" id="users_login_responsible_of_backup" name="users_login_responsible_of_backup" value="{{ backup[3] }}">
        <label for="date_of_backup">Date of backup:</label>
        <input type="date" id="date_of_backup" name="date_of_backup" value="{{ backup[0] }}">
        <br>
        <label for="content_of_backup">Content of backup:</label>
        <input type="text" id="content_of_backup" name="content_of_backup" value="{{ backup[1] }}">
        <br>
        <label for="size_of_backup">Size of backup:</label>
        <input type="text" id="size_of_backup" name="size_of_backup" value="{{ backup[2] }}">
        <br>
        <input type="submit" value="Update">
    </form>
    <br>
    <a href="/view_backup">Back to Backup List</a>
</body>
</html>