<!DOCTYPE html>
<html>
  <head>
    <title>Lebedev</title>
  </head>
  <body>
    <h1>Lebedev Database</h1>

    <ul>
      <li><a href="{{ backup_url }}">View Backup</a></li>
      <li><a href="{{ user_url }}">View User</a></li>
      <li><a href="{{ accessory_url }}">View Accessory</a></li>
      <li><a href="{{ client_url }}">View Client</a></li>
      <li><a href="{{ dealer_url }}">View Dealer</a></li>
      <li><a href="{{ delivery_url }}">View Delivery</a></li>
      <li><a href="{{ departure_url }}">View Departure</a></li>
      <li><a href="{{ installation_and_deployment_url }}">View Installation and deployment</a></li>
      <li><a href="{{ purchase_url }}">View Purchase</a></li>
      <li><a href="{{ report_for_tax_url }}">View Report for tax</a></li>
      <li><a href="{{ service_department_url }}">View Service department</a></li>
      <li><a href="{{ stock_url }}">View Stock</a></li>
      <li><a href="{{ technique_url }}">View Technique</a></li>
    </ul>
  </body>
</html>