<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accessory List</title>
</head>
<body>
    <h1>Accessory List</h1>
    <table>
        <thead>
            <tr>
                <th>Name of accessory</th>
                <th>Quantity of accessory</th>
                <th>Type of accessory</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for accessory in accessory %}
            <tr>
                <td>{{ accessory[0] }}</td>
                <td>{{ accessory[1] }}</td>
                <td>{{ accessory[2] }}</td>
                <td>
                    <a href="/edit_accessory/{{ accessory[0] }}">Edit</a>
                    <a href="/delete_accessory/{{ accessory[0] }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="/add_accessory">Add Accessory</a>
    <a href="/">Back to list</a>
</body>
</html>