<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Purchase List</title>
</head>
<body>
    <h1>Purchase List</h1>
    <table>
        <thead>
            <tr>
                <th>Name of product</th>
                <th>Quantity of product</th>
                <th>Description of product</th>
                <th>Factory number</th>
                <th>Serial number</th>
                <th>Purchase amount</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for purchase in purchase %}
            <tr>
                <td>{{ purchase[0] }}</td>
                <td>{{ purchase[1] }}</td>
                <td>{{ purchase[2] }}</td>
                <td>{{ purchase[3] }}</td>
                <td>{{ purchase[4] }}</td>
                <td>{{ purchase[5] }}</td>
                <td>
                    <a href="/edit_purchase/{{ purchase[0] }}">Edit</a>
                    <a href="/delete_purchase/{{ purchase[0] }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="/add_purchase">Add Purchase</a>
    <a href="/">Back to list</a>
</body>
</html>