<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Departure List</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Departure List</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Type of service</th>
                    <th>Price of service</th>
                    <th>Result</th>
                    <th>Status of departure</th>
                    <th>To client</th>
                    <th>Responsible</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for departure in departure %}
                <tr>
                    <td>{{ departure[0] }}</td>
                    <td>{{ departure[1] }}</td>
                    <td>{{ departure[2] }}</td>
                    <td>{{ departure[3] }}</td>
                    <td>{{ departure[4] }}</td>
                    <td>{{ departure[5] }}</td>
                    <td>
                        <a href="/edit_departure/{{ departure[4] }}" class="btn btn-primary btn-sm">Edit</a>
                        <a href="/delete_departure/{{ departure[4] }}" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <a href="/add_departure" class="btn btn-success">Add departure</a>
        <a href="/" class="btn btn-default">Back to list</a>
    </div>
</body>
</html>