<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delivery List</title>
</head>
<body>
    <h1>Delivery List</h1>
    <table>
        <thead>
            <tr>
                <th>Name of courier</th>
                <th>Surname of courier</th>
                <th>Name of product</th>
                <th>Price with delivery</th>
                <th>From stock</th>
                <th>To client</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for delivery in delivery %}
            <tr>
                <td>{{ delivery[0] }}</td>
                <td>{{ delivery[1] }}</td>
                <td>{{ delivery[2] }}</td>
                <td>{{ delivery[3] }}</td>
                <td>{{ delivery[4] }}</td>
                <td>{{ delivery[5] }}</td>
                <td>
                    <a href="/edit_delivery/{{ delivery[0] }}">Edit</a>
                    <a href="/delete_delivery/{{ delivery[0] }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="/add_delivery">Add delivery</a>
    <a href="/">Back to list</a>
</body>
</html>