<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order in the hall List</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Order in the hall List</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Date of order</th>
                    <th>Price for technique</th>
                    <th>Quantity of technique</th>
                    <th>Client name</th>
                    <th>Technique type</th>
                    <th>Responsible user</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for order_in_the_hall in order_in_the_hall %}
                <tr>
                    <td>{{ order_in_the_hall[0] }}</td>
                    <td>{{ order_in_the_hall[1] }}</td>
                    <td>{{ order_in_the_hall[2] }}</td>
                    <td>{{ order_in_the_hall[3] }}</td>
                    <td>{{ order_in_the_hall[4] }}</td>
                    <td>{{ order_in_the_hall[5] }}</td>
                    <td>
                        <a href="/edit_order_in_the_hall/{{ order_in_the_hall[5] }}" class="btn btn-primary btn-sm">Edit</a>
                        <a href="/delete_order_in_the_hall/{{ order_in_the_hall[5] }}" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <a href="/add_order_in_the_hall" class="btn btn-success">Add order in the hall</a>
        <a href="/" class="btn btn-default">Back to list</a>
    </div>
</body>
</html>