<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Service department List</title>
</head>
<body>
    <h1>Service department List</h1>
    <table>
        <thead>
            <tr>
                <th>Address of service department</th>
                <th>Quantity stuff in service department</th>
                <th>Number phone</th>
                <th>Post code</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for service_department in service_department %}
            <tr>
                <td>{{ service_department[0] }}</td>
                <td>{{ service_department[1] }}</td>
                <td>{{ service_department[2] }}</td>
                <td>{{ service_department[3] }}</td>
                <td>
                    <a href="/edit_service_department/{{ service_department[3] }}">Edit</a>
                    <a href="/delete_service_department/{{ service_department[3] }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="/add_service_department">Add Service department</a>
    <a href="/">Back to list</a>
</body>
</html>